.sqs-block {
  background-color: #fff;
  margin: 0 0.2em;
  padding: 0.3em !important;

}

.gallery-block{
  background-color: transparent;
  padding: 0 !important;
}

#content {
  padding: 30px 50px !important;
}

@media screen and (min-width: 641px) {
  #main-navigation{
    display: block !important;
    width: 84%;
    z-index: 2000;
    position: relative;
    margin: auto;
  }
   #main-navigation ul li {
    padding: 0.2em;
  }
}

// Catchphrase
#block-738ca69dccb4aaa87abb {
  margin-top: 26px;
  font-size: 16px;
  font-weight: bold;
}

// Logo
#block-8d70c9a82817c9f1667e{
  background: none;
  margin: -1em;
}

// text blocks
#page-52ea889fe4b0a3bfa9aa3352 .html-block{
  min-height: 400px;
}
#page-52ea88a7e4b048e6e5e7dddc .html-block {
   min-height: 450px;
} 
#page-52ea88a7e4b048e6e5e7dddc .col .image-block{
   width: 69.5%;
} 
#page-52ea8889e4b0fe38b566764b .html-block{
  min-height: 1200px;
}

// nav font
#main-navigation ul {
  margin: 0.4em 1.1em 0 1.1em;
  text-align: left;
  background: #fff;
}

#main-navigation ul li {
  display: inline;
}

#main-navigation ul li, #mobile-navigation ul li, #mobile-navigation span:after{
  font-size: 18px;
  text-transform: none;
  font-family: adelle;
}

#title-area, #footer {
  visibility: hidden;
  display: none;
}

#innerWrapper {
  margin: 0 !important;
  width: 100% !important;
}

.field {
  margin: 0 !important;
}
